h1 {
    color: lightgrey;
    font-family: 'Roboto', sans-serif;
    font-size: larger;
}

.display-4 {
    color: black;
    font-size: 48px;
}

h2 {
    color: slategrey;
    font-family: 'Roboto', sans-serif;
    font-size: xx-large;
}

h3 {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
}

h4 {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

p {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}

img {
    width: 300px;
}